In [1]:
import numpy as np
import pandas as pd

In [2]:
car_dt = pd.read_csv('vehicles.csv', nrows = 50000)
car_dt.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,drive,size,type,paint_color,image_url,description,county,state,lat,long
0,7034441763,https://saltlakecity.craigslist.org/cto/d/salt...,salt lake city,https://saltlakecity.craigslist.org,17899,2012.0,volkswagen,golf r,excellent,4 cylinders,...,4wd,compact,hatchback,black,https://images.craigslist.org/00G0G_fTLDWM5Xyv...,PRICE REDUCED! -Garage kept -Low Miles (63K)...,NaN,ut,40.7372,-111.858
1,7034440610,https://saltlakecity.craigslist.org/ctd/d/sand...,salt lake city,https://saltlakecity.craigslist.org,0,2016.0,ford,f-150,excellent,NaN,...,4wd,NaN,NaN,NaN,https://images.craigslist.org/00v0v_7Cu0buIofU...,Drive it home today. Call (Or Text) us now !!C...,NaN,ut,40.5881,-111.884
2,7034440588,https://saltlakecity.craigslist.org/ctd/d/sand...,salt lake city,https://saltlakecity.craigslist.org,46463,2015.0,gmc,sierra 1500,excellent,NaN,...,4wd,NaN,NaN,white,https://images.craigslist.org/01515_lPvJ9bfbdY...,Drive it home today. Call (Or Text) us now !!C...,NaN,ut,40.5881,-111.884
3,7034440546,https://saltlakecity.craigslist.org/ctd/d/sand...,salt lake city,https://saltlakecity.craigslist.org,0,2016.0,ford,f-150,excellent,NaN,...,4wd,NaN,NaN,NaN,https://images.craigslist.org/00T0T_6Rjfp3NS4O...,Drive it home today. Call (Or Text) us now !!C...,NaN,ut,40.5881,-111.884
4,7034406932,https://saltlakecity.craigslist.org/ctd/d/evan...,salt lake city,https://saltlakecity.craigslist.org,49999,2018.0,ford,f-450,NaN,NaN,...,4wd,NaN,pickup,white,https://images.craigslist.org/00W0W_8yIUwRBXXd...,2018 Ford F-350 F350 F 350 SD Lariat Crew Cab ...,NaN,ut,40.3744,-104.694

In [3]:
car_dt.isnull().any()

id              False
url             False
region          False
region_url      False
price           False
year             True
manufacturer     True
model            True
condition        True
cylinders        True
fuel             True
odometer         True
title_status     True
transmission     True
vin              True
drive            True
size             True
type             True
paint_color      True
image_url       False
description     False
county           True
state           False
lat              True
long             True
dtype: bool

In [4]:
car_dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 25 columns):
id              50000 non-null int64
url             50000 non-null object
region          50000 non-null object
region_url      50000 non-null object
price           50000 non-null int64
year            49981 non-null float64
manufacturer    48329 non-null object
model           49331 non-null object
condition       25174 non-null object
cylinders       30686 non-null object
fuel            49796 non-null object
odometer        43437 non-null float64
title_status    49761 non-null object
transmission    49584 non-null object
vin             33467 non-null object
drive           39551 non-null object
size            14572 non-null object
type            38643 non-null object
paint_color     35537 non-null object
image_url       50000 non-null object
description     50000 non-null object
county          0 non-null float64
state           50000 non-null object
lat             48511 non-null float64
long            48511 non-null float64
dtypes: float64(5), int64(2), object(18)
memory usage: 9.5+ MB

In [5]:
car_dt['manufacturer'].unique()

array(['volkswagen', 'ford', 'gmc', 'ram', 'toyota', 'chevrolet',
       'mercedes-benz', 'jeep', nan, 'honda', 'lexus', 'cadillac',
       'dodge', 'hyundai', 'subaru', 'bmw', 'chrysler', 'nissan',
       'mitsubishi', 'buick', 'acura', 'kia', 'rover', 'alfa-romeo',
       'mazda', 'saturn', 'pontiac', 'volvo', 'jaguar', 'fiat', 'audi',
       'mini', 'infiniti', 'lincoln', 'mercury', 'tesla',
       'harley-davidson', 'porche', 'land rover', 'aston-martin',
       'ferrari', 'datsun'], dtype=object)

## Dropping Unneeded Columns

In [6]:
del car_dt['id']
del car_dt['url']
del car_dt['region_url']
del car_dt['vin']
del car_dt['image_url']

In [7]:
car_dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
region          50000 non-null object
price           50000 non-null int64
year            49981 non-null float64
manufacturer    48329 non-null object
model           49331 non-null object
condition       25174 non-null object
cylinders       30686 non-null object
fuel            49796 non-null object
odometer        43437 non-null float64
title_status    49761 non-null object
transmission    49584 non-null object
drive           39551 non-null object
size            14572 non-null object
type            38643 non-null object
paint_color     35537 non-null object
description     50000 non-null object
county          0 non-null float64
state           50000 non-null object
lat             48511 non-null float64
long            48511 non-null float64
dtypes: float64(5), int64(1), object(14)
memory usage: 7.6+ MB

## KNN Imputation - Cylinders

In [8]:
from sklearn.impute import KNNImputer

In [9]:
car_dt['cylinders']

0         4 cylinders
1                 NaN
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 NaN
10                NaN
11                NaN
12                NaN
13                NaN
14                NaN
15                NaN
16                NaN
17                NaN
18                NaN
19                NaN
20                NaN
21        8 cylinders
22        8 cylinders
23        8 cylinders
24        4 cylinders
25        8 cylinders
26        8 cylinders
27        6 cylinders
28        8 cylinders
29                NaN
             ...
49970             NaN
49971             NaN
49972             NaN
49973             NaN
49974             NaN
49975     6 cylinders
49976     8 cylinders
49977     6 cylinders
49978     4 cylinders
49979     4 cylinders
49980     4 cylinders
49981     6 cylinders
49982     8 cylinders
49983    10 cylinders
49984     8 cylinders
49985             NaN
49986             NaN
49987             NaN
49988             NaN
49989             NaN
49990             NaN
49991             NaN
49992     4 cylinders
49993     8 cylinders
49994             NaN
49995     6 cylinders
49996     6 cylinders
49997     6 cylinders
49998             NaN
49999             NaN
Name: cylinders, Length: 50000, dtype: object

In [10]:
car_dt['cylinders'] = car_dt['cylinders'].str.slice(stop = 2)

In [11]:
car_dt['cylinders']

0         4
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21        8
22        8
23        8
24        4
25        8
26        8
27        6
28        8
29       NaN
        ...
49970    NaN
49971    NaN
49972    NaN
49973    NaN
49974    NaN
49975     6
49976     8
49977     6
49978     4
49979     4
49980     4
49981     6
49982     8
49983     10
49984     8
49985    NaN
49986    NaN
49987    NaN
49988    NaN
49989    NaN
49990    NaN
49991    NaN
49992     4
49993     8
49994    NaN
49995     6
49996     6
49997     6
49998    NaN
49999    NaN
Name: cylinders, Length: 50000, dtype: object

In [12]:
car_dt['cylinders'].unique()

array(['4 ', nan, '8 ', '6 ', '10', '5 ', '3 ', '12', 'ot'], dtype=object)

In [13]:
#Converting "other" entries to "nan"
car_dt['cylinders'] = car_dt['cylinders'].replace(['ot'], [np.nan])
car_dt.cylinders = car_dt.cylinders.astype(float)
car_dt.cylinders.dtype

dtype('float64')

In [14]:
car_dt['cylinders'].dtype

dtype('float64')

In [15]:
car_dt['odometer'].dtype

dtype('float64')

In [ ]:
car_dt

In [16]:
#KNN Imputer
imputer = KNNImputer(n_neighbors = 2)

In [17]:
df_knntest = car_dt[['cylinders', 'odometer']]

In [18]:
#df_filled = imputer.fit_transform(car_dt[['cylinders','odometer']])
df_filled = imputer.fit_transform(df_knntest)

In [19]:
df_filled

array([[4.00000e+00, 6.35000e+04],
       [6.00000e+00, 1.00000e+01],
       [7.00000e+00, 7.55400e+03],
       ...,
       [6.00000e+00, 5.86770e+04],
       [8.00000e+00, 9.88360e+04],
       [5.00000e+00, 1.43433e+05]])

In [20]:
car_dt[['cylinders','odometer']] = df_filled

In [21]:
car_dt['cylinders'].isnull().any()

False

In [22]:
car_dt

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,description,county,state,lat,long
0,salt lake city,17899,2012.0,volkswagen,golf r,excellent,4.000000,gas,63500.000000,clean,manual,4wd,compact,hatchback,black,PRICE REDUCED! -Garage kept -Low Miles (63K)...,NaN,ut,40.7372,-111.858
1,salt lake city,0,2016.0,ford,f-150,excellent,6.000000,gas,10.000000,clean,automatic,4wd,NaN,NaN,NaN,Drive it home today. Call (Or Text) us now !!C...,NaN,ut,40.5881,-111.884
2,salt lake city,46463,2015.0,gmc,sierra 1500,excellent,7.000000,gas,7554.000000,clean,automatic,4wd,NaN,NaN,white,Drive it home today. Call (Or Text) us now !!C...,NaN,ut,40.5881,-111.884
3,salt lake city,0,2016.0,ford,f-150,excellent,6.000000,gas,10.000000,clean,automatic,4wd,NaN,NaN,NaN,Drive it home today. Call (Or Text) us now !!C...,NaN,ut,40.5881,-111.884
4,salt lake city,49999,2018.0,ford,f-450,NaN,4.000000,diesel,70150.000000,clean,automatic,4wd,NaN,pickup,white,2018 Ford F-350 F350 F 350 SD Lariat Crew Cab ...,NaN,ut,40.3744,-104.694
5,salt lake city,13999,2009.0,ram,NaN,NaN,5.500000,gas,120057.000000,clean,automatic,4wd,NaN,pickup,silver,"2009 RAM 1500 4WD Quad Cab 140.5"" ST"" Offe...",NaN,ut,40.3744,-104.694
6,salt lake city,34500,2017.0,ford,f-350,NaN,4.000000,diesel,95484.000000,clean,automatic,4wd,NaN,pickup,white,2017 Ford Super Duty F-350 F350 F 350 SRW Crew...,NaN,ut,40.3744,-104.694
7,salt lake city,14500,2007.0,gmc,sierra,NaN,4.000000,gas,89340.000000,clean,automatic,4wd,NaN,pickup,NaN,2007 GMC Sierra 1500 SLE Crew Cab 4WD Offe...,NaN,ut,40.3744,-104.694
8,salt lake city,12500,2013.0,ford,f-250,NaN,6.000000,gas,226031.000000,clean,automatic,4wd,NaN,pickup,white,2013 Ford F-250 F250 F 250 SD XLT 4WD Offe...,NaN,ut,40.3744,-104.694
9,salt lake city,34500,2012.0,ram,NaN,NaN,6.000000,diesel,128153.000000,clean,automatic,4wd,NaN,pickup,silver,"2012 RAM 2500 4WD Mega Cab 160.5"" Laramie Long...",NaN,ut,40.3744,-104.694
10,salt lake city,5900,1994.0,ford,f-250,NaN,7.000000,gas,168838.000000,clean,manual,4wd,mid-size,pickup,white,1994 Ford F-250 F250 F 250 Ext. Cab Offere...,NaN,ut,40.3744,-104.694
11,salt lake city,16500,2013.0,gmc,yukon,NaN,4.000000,other,156385.000000,clean,automatic,4wd,NaN,SUV,silver,2013 GMC Yukon XL SLT 4WD Offered by: Fres...,NaN,ut,40.3744,-104.694
12,salt lake city,14500,2007.0,toyota,tundra,NaN,5.000000,gas,135287.000000,clean,automatic,4wd,NaN,pickup,NaN,2007 Toyota Tundra 4WD SR5 Offered by: Fre...,NaN,ut,40.3744,-104.694
13,salt lake city,27999,2015.0,gmc,sierra,NaN,7.000000,gas,73612.000000,clean,automatic,4wd,NaN,pickup,brown,"2015 GMC Sierra 1500 4WD Crew Cab 147"" SLE"" ...",NaN,ut,40.3744,-104.694
14,salt lake city,14999,2004.0,ram,NaN,NaN,6.000000,diesel,235790.000000,clean,automatic,4wd,NaN,pickup,blue,"2004 Dodge Ram 2500 4WD Crew Cab 149"" ST"" ...",NaN,ut,40.3744,-104.694
15,salt lake city,24999,2014.0,ram,2500,NaN,8.000000,diesel,158156.000000,clean,automatic,4wd,NaN,pickup,white,"2014 RAM 2500 4WD Crew Cab 149"" ST"" Offere...",NaN,ut,40.3744,-104.694
16,salt lake city,35500,2015.0,gmc,sierra,NaN,6.000000,diesel,127515.000000,clean,automatic,4wd,NaN,pickup,black,2015 GMC Sierra 3500HD Denali HD Offered b...,NaN,ut,40.3744,-104.694
17,salt lake city,8999,2002.0,chevrolet,silverado,NaN,7.000000,gas,179098.000000,clean,automatic,4wd,NaN,pickup,white,2002 Chevrolet Chevy Silverado 2500 LS Off...,NaN,ut,40.3744,-104.694
18,salt lake city,5999,2003.0,mercedes-benz,s-class,NaN,6.000000,gas,185220.000000,clean,automatic,NaN,full-size,sedan,silver,2003 Mercedes-Benz S-Class 4dr Sdn 5.0L Of...,NaN,ut,40.3744,-104.694
19,salt lake city,63500,2019.0,ford,f-350,NaN,7.000000,diesel,20930.000000,clean,automatic,4wd,NaN,pickup,black,2019 Ford Super Duty F-350 F350 F 350 SRW 4WD ...,NaN,ut,40.3744,-104.694
20,salt lake city,13500,2010.0,gmc,sierra,NaN,4.000000,gas,231570.000000,clean,automatic,4wd,NaN,pickup,silver,2010 GMC Sierra 2500 SLE Ext. Cab Long Bed 4WD...,NaN,ut,40.3744,-104.694
21,salt lake city,31895,2008.0,jeep,wrangler rubicon unlimited,excellent,8.000000,gas,75000.000000,clean,automatic,4wd,NaN,NaN,NaN,Jeep Wrangler Unlimited Rubicon with Burnsvill...,NaN,ut,19.7452,-155.901
22,salt lake city,9500,2001.0,ford,excursion limited,good,8.000000,diesel,42229.000000,clean,automatic,4wd,full-size,NaN,grey,2001 Ford excursion 7.3 190k 20k on trany 6 li...,NaN,ut,39.9542,-111.715
23,salt lake city,57995,NaN,NaN,olet Silverado 2500HD,NaN,8.000000,NaN,9458.000000,clean,automatic,4wd,NaN,pickup,grey,2019 *Chevrolet* *Silverado 2500HD* LIFTED 201...,NaN,ut,33.4583,-111.926
24,salt lake city,4600,2008.0,honda,civic,good,4.000000,gas,110982.000000,clean,automatic,fwd,mid-size,sedan,grey,Selling this 2008 Honda Civic 1.8L four door L...,NaN,ut,40.7499,-111.926
25,salt lake city,32995,2014.0,gmc,sierra 1500,NaN,8.000000,NaN,93242.000000,clean,automatic,4wd,NaN,pickup,grey,2014 *GMC* *Sierra 1500* LIFTED 2014 GMC SIERR...,NaN,ut,33.4583,-111.926
26,salt lake city,39995,NaN,NaN,ierra 1500,NaN,8.000000,NaN,15708.000000,clean,automatic,4wd,NaN,pickup,black,2018 *GMC* *Sierra 1500* LIFTED 2018 GMC SIERR...,NaN,ut,33.4583,-111.926
27,salt lake city,26950,2015.0,ram,3500 hd,NaN,6.000000,diesel,68013.000000,rebuilt,automatic,4wd,NaN,truck,white,Engine: 6 Cylinders Transmission: Automatic Ti...,NaN,ut,40.7476,-111.939
28,salt lake city,39995,2016.0,chevrolet,silverado 1500,NaN,8.000000,gas,23773.000000,clean,automatic,4wd,NaN,pickup,black,2016 *Chevrolet* *Silverado 1500* LIFTED LTZ W...,NaN,ut,33.4583,-111.926
29,salt lake city,8300,2016.0,chevrolet,spark ev,like new,8.000000,electric,28000.000000,clean,automatic,NaN,NaN,NaN,NaN,Great shape ALL electric Chevy Spark with 28k ...,NaN,ut,40.7009,-112.081
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,wyoming,12500,2013.0,ford,f-250,NaN,6.000000,gas,226031.000000,clean,automatic,4wd,NaN,pickup,white,2013 Ford F-250 F250 F 250 SD XLT 4WD Offe...,NaN,wy,40.3744,-104.694
49971,wyoming,8999,2002.0,chevrolet,silverado,NaN,7.000000,gas,179098.000000,clean,automatic,4wd,NaN,pickup,white,2002 Chevrolet Chevy Silverado 2500 LS Off...,NaN,wy,40.3744,-104.694
49972,wyoming,13500,2010.0,gmc,sierra,NaN,4.000000,gas,231570.000000,clean,automatic,4wd,NaN,pickup,silver,2010 GMC Sierra 2500 SLE Ext. Cab Long Bed 4WD...,NaN,wy,40.3744,-104.694
49973,wyoming,5999,2003.0,mercedes-benz,s-class,NaN,6.000000,gas,185220.000000,clean,automatic,NaN,full-size,sedan,silver,2003 Mercedes-Benz S-Class 4dr Sdn 5.0L Of...,NaN,wy,40.3744,-104.694
49974,wyoming,13999,2009.0,ram,NaN,NaN,5.500000,gas,120057.000000,clean,automatic,4wd,NaN,pickup,silver,"2009 RAM 1500 4WD Quad Cab 140.5"" ST"" Offe...",NaN,wy,40.3744,-104.694
49975,wyoming,6800,2004.0,nissan,350z,NaN,6.000000,gas,21274.000000,salvage,manual,rwd,NaN,convertible,silver,"STS Automotive4301 Morrison RdDenver, CO 80219...",NaN,wy,39.7039,-105.044
49976,wyoming,8995,2019.0,chevrolet,express 3500,NaN,8.000000,gas,7974.000000,salvage,automatic,rwd,NaN,van,white,STS AutomotiveAsk for: SalesÃ¢Â˜ÂŽÃ‚Â (720) 335-601...,NaN,wy,39.7039,-105.044
49977,wyoming,13495,2014.0,ford,f-150,NaN,6.000000,gas,69614.000000,salvage,automatic,4wd,full-size,pickup,red,"STS Automotive4301 Morrison RdDenver, CO 80219...",NaN,wy,39.7039,-105.044
49978,wyoming,6995,2017.0,nissan,sentra,NaN,4.000000,gas,46578.000000,clean,automatic,fwd,compact,sedan,red,STS AutomotiveAsk for: SalesÃ¢Â˜ÂŽÃ‚Â (720) 335-601...,NaN,wy,39.7039,-105.044
49979,wyoming,7995,2019.0,jeep,compass,NaN,4.000000,gas,19548.000000,clean,automatic,4wd,compact,SUV,black,"STS Automotive4301 Morrison RdDenver, CO 80219...",NaN,wy,39.7039,-105.044
49980,wyoming,16995,2017.0,toyota,rav4 hybrid,NaN,4.000000,hybrid,38174.000000,clean,automatic,4wd,compact,SUV,white,2017 Toyota RAV4 Hybrid XLE AWD 4dr SUV SUVPri...,NaN,wy,39.7039,-105.044
49981,wyoming,7995,2019.0,dodge,grand caravan,NaN,6.000000,NaN,24008.000000,clean,automatic,fwd,mid-size,van,grey,"Description:CLEAN TITLE, COLLISION DAMAGE,LOT ...",NaN,wy,39.7039,-105.044
49982,wyoming,7000,2003.0,chevrolet,silverado 1500 classic,excellent,8.000000,gas,162000.000000,clean,automatic,4wd,NaN,truck,NaN,"2003 silverado 4x4 5.3. Has 162,000 miles very...",NaN,wy,41.4390,-105.801
49983,wyoming,6500,2000.0,ram,NaN,good,10.000000,gas,133919.500000,clean,automatic,4wd,full-size,pickup,red,"Selling my Ram 2500. V10 motor, 150,000 miles,...",NaN,wy,44.2745,-105.511
49984,wyoming,5000,2000.0,chevrolet,tahoe,good,8.000000,gas,202462.000000,clean,automatic,4wd,full-size,SUV,grey,2000 Chevy Tahoe LX 4 door -4 wheel drive 2 ne...,NaN,wy,41.1478,-104.833
49985,wyoming,19977,2005.0,ford,f-350,NaN,7.000000,diesel,141297.000000,clean,automatic,4wd,NaN,pickup,black,2005 Ford F-350 F350 F 350 Super Duty HARLEY D...,NaN,wy,40.0943,-104.810
49986,wyoming,24977,2006.0,ram,NaN,NaN,7.000000,diesel,180869.000000,clean,automatic,4wd,NaN,pickup,NaN,2006 Dodge Ram Pickup 2500 SLT Offered by:...,NaN,wy,40.0943,-104.810
49987,wyoming,22977,2012.0,ram,NaN,NaN,7.000000,diesel,189330.000000,clean,NaN,4wd,NaN,pickup,NaN,2012 Ram Ram Pickup 3500 ST Offered by: Of...,NaN,wy,40.0943,-104.810
49988,wyoming,23977,2007.0,ram,NaN,NaN,5.000000,diesel,132291.000000,clean,automatic,4wd,NaN,pickup,NaN,2007 Dodge Ram Pickup 2500 SLT 5.9 5.9 Off...,NaN,wy,40.0943,-104.810
49989,wyoming,23977,2009.0,gmc,sierra,NaN,7.000000,diesel,203074.000000,clean,automatic,4wd,NaN,pickup,NaN,2009 GMC Sierra 2500HD SLT Offered by: Off...,NaN,wy,40.0943,-104.810
49990,wyoming,26977,2011.0,ford,f-350,NaN,6.000000,diesel,168559.000000,clean,automatic,4wd,NaN,pickup,NaN,2011 Ford F-350 F350 F 350 Super Duty King Ran...,NaN,wy,40.0943,-104.810
49991,wyoming,0,2011.0,cadillac,cts-v coupe,NaN,5.000000,gas,10284.000000,clean,automatic,rwd,NaN,coupe,NaN,BOBRUWARTMOTORS.COM Call test at (307) 241-327...,NaN,wy,42.0669,-104.963
49992,wyoming,2999,2007.0,chevrolet,cobalt,excellent,4.000000,gas,134000.000000,clean,manual,fwd,NaN,coupe,NaN,2007 *** CHEVROLET COBALT LS *** Call or T...,NaN,wy,40.1147,-104.972
49993,wyoming,1800,2017.0,ram,1500,NaN,8.000000,gas,20109.000000,clean,other,4wd,NaN,truck,black,2017 Ram 1500 Laramie -- Down Payments start A...,NaN,wy,42.8409,-106.235
49994,wyoming,7900,2007.0,cadillac,escalade esv awd,NaN,5.958344,gas,97185.013629,clean,automatic,NaN,NaN,NaN,NaN,2007 CADILLAC ESCALADE ESV AWD 6.2 V8 - AUTOMA...,NaN,wy,43.8509,-104.227
49995,wyoming,0,2007.0,ram,2500,NaN,6.000000,diesel,261761.000000,clean,automatic,4wd,NaN,truck,silver,2007 Dodge Ram 2500 SLT -- Ã¢Â˜ÂŽ Call Us Tod...,NaN,wy,39.7849,-105.115
49996,wyoming,29799,2015.0,ram,3500,NaN,6.000000,diesel,153954.000000,clean,automatic,4wd,NaN,truck,white,2015 Ram 3500 ST diesel 4x4 crew cab flat bed ...,NaN,wy,39.7849,-105.115
49997,wyoming,8950,2014.0,chrysler,300,NaN,6.000000,gas,58677.000000,rebuilt,automatic,rwd,NaN,sedan,grey,Engine: 6 Cylinders Transmission: Automatic Ti...,NaN,wy,40.7476,-111.939
49998,wyoming,19999,2011.0,ford,f-150,NaN,8.000000,gas,98836.000000,clean,automatic,4wd,NaN,pickup,black,2011 Ford F-150 F150 F 150 Lariat Offered ...,NaN,wy,40.1599,-105.103
49999,wyoming,30999,2014.0,ford,f-250,NaN,5.000000,diesel,143433.000000,clean,automatic,4wd,NaN,pickup,black,2014 Ford F-250 F250 F 250 Super Duty Lariat 6...,NaN,wy,40.1599,-105.103